<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To iChange</h1>
                <p><strong>View all of the products from nju!</strong></p>
            <p>
                <a class="btn btn-primary btn-lg" href="campgrounds/new">Add a Product</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex;flex-wrap:wrap">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" href="/campgrounds/<%= campground._id %>">    
                <div class="caption">
                    <h4 href="/campgrounds/<%= campground._id %>"><%= campground.name %></h4>    
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More</a>
                </p>
                </div>
            </div>
        <% }) %>
    </div>

</div>


<% include ../partials/footer %>