<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-10">
            <div class="thumbnail">
            <img class="img-responsive" src="<%= campground.image %>"> 
            <div class="caption-full">
                <% if(campground.price&&campground.price>='0'){%>
                    <h4 class="pull-right">$<%=campground.price%></h4>
                <% } %>
                <h4><%= campground.name %> - From <strong><%=campground.author.username%></strong></h4>
                <p><%= campground.description %></p>
                <% if(currentUser&&campground.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                    <form id="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                <% } %>
            </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary">Comment</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <% campground.comments.forEach(function(comment){ %>
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right">10 days ago</span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser&&comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-warning btn-xs" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                                <% } %>
                                <hr>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>